body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff6cc;
}

#add {
    position: fixed;
    width: 60px;
    height: 60px;
    font-size: 30px;
    bottom: 50px;
    right: 50px;
    background-color: #FFC300;
    color: #fffafa;
    border: none;
    padding: 10px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.navbar {    
    display: flex;
    justify-content: space-between;
    height: 60px;
    background-color: #333;
    color: #fff;
    align-items: center;
    padding: 10px 20px;
}

.logo {
    margin-left: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
}

.account {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ccc;
    cursor: pointer;
}

.account .dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    color: #333;
    border: 1px solid #ccc;
    display: none;
}

.account:hover .dropdown {
    display: block;
}

/* .account {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    color: #fff;     
} */